---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <article class="post sign {{ post.class }}">
          <div class="illo"><img src="{{ post.image | prepend: site.baseurl}}"/></div>
          <div class="description"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title">{{ post.title }}</h2></a><i>{{ post.address }}</i>{{ post.content }}</div>
        </article>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

  {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
  {% else %}
    <span>Previous</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
  {% else %}
    <span>Next</span>
  {% endif %}
</div>
{% endif %}

</div>
