html, body, section {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body{
  font-family: "apercu-regular", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

h1, h2, h3{
  font-family: "lydiacondensed-bold", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: #000;
}

h1{
  font-size: 42px;
}

h2{
  font-size: 4.5em;
  line-height: 1em;

}

p{
  font-size: 1.125em;
  line-height: 2em;
  color: #000;
}

p a{
  color: #000;
  border-bottom: 1px solid;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

i.address {
  display: block;
  margin-bottom: 1.5em;
}

a{
  color: #000;
  text-decoration: none;
  transition: color 0.15s ease;
}

a:hover{
  color: #999;
}


img {
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}
