.header {
  padding: 2.5em 3%;
  background: #202020;
  margin-bottom: 2em;
  @media screen and (min-width: 1000px) {
  margin-bottom: 4em;
  }
}

.subnav {
  margin-bottom: 0;
}

.header h1 {
 color: #fff;
 margin: 0;
 font-size: 2.25em;
 line-height: 1.5;
 text-transform: uppercase;
 a{
   color: #fff;
   text-decoration: none;
   &:hover{
     text-decoration: underline;
   }
 }
}

.nav{
  margin: .5em 0;
  float: left;
  font-size: 1.125em;
}

.nav a{
  color: #fff;
}

.nav a:hover{
  border-bottom: 1px solid;
}

.nav li{
  margin-right: 1.5em;
}

header, footer, .site-footer{
  overflow: hidden;
}

.site-footer{
  background: #fff;
  // text-align: center;
  padding: 2.5em 0;
  p {
    font-size: 1em;
  }
}

@media screen and (min-width: 700px) {
  .header {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
  }
  .nav{
    margin: auto -2.5em auto 1em;
  }
  .nav a{
    margin-left: 1em;
  }

  .nav li{
    margin-right: 2em;
  }
}
