.pagination{
	margin: 3em auto;
	display: block;
	overflow: hidden;

	ul {
		margin-right: -2em;
	}

	li {
		font-size: 1.125em;
		margin-right: 2em;
	}

	a{
  	border-bottom: 1px solid;
	}

	a:hover{
	  color: #999;
	}

}
