.pagination{
	margin: 3em auto;
	display: block;
	text-align: center;
	overflow: hidden;

	span{
		display: none;
	}

	a{
	  color: #555;
	  text-decoration: none;
	  padding: 0.5em 1.5em;
	  border-radius: 3px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  transition: background-color 0.15s ease;
		background: #cccccc;
		display: inline-block;
		float: left;
		width: 49%;
		text-align: center;
		&+a{
			margin-left: 2%;
		}
	}

	a:hover{
	  background: #2798a1;
		color: #fff;
	}

	@media screen and (min-width: 700px) {
		overflow: visible;
		a{
			display: inline;
			margin-bottom: 0;
			width: auto;
			float: none;
		}
		a+a{
			margin-left: 0.75em;
		}
	}

}
