.container {
  margin: 0 auto 2em;
  width: 95%;
}

.sign {
  background: #fff;
  margin-bottom: 2em;
}

.post-list li:last-of-type .sign{
  margin-bottom: 2em;
}

.sign h2{
  margin: 0.25em 0 0 0;
}

.post-link h2{
  transition: color 0.15s ease;
  &:hover{
    color: #2798a1;
  }
}

.description {
  max-width: 900px;
  margin: auto 0;
  background: #fff;
  padding: 1.5% 5%;
}

.illo {
  max-width: 1000px;
}

.illo img{
  padding: 10%;
}

@media screen and (min-width: 1000px) {
  body{
    font-size: 100%;
  }
  .sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 3%;

  }
  .illo {
    flex: 2 1000px;

  }
  .description {
    padding: 1.5% 5%;
    flex: 1 750px;
  }
}
