.austinmotel .illo {
  background: #c8232f;
}

.topnotch .illo {
  background: #309fa9;
}

.sandys .illo {
  background: #ffca08;
}

.grovedrugs .illo {
  background: #53c3c0;
}

.matts .illo {
  background: #c92127;
}

.hole .illo {
  background: #fec80a;
}

.saddlery .illo {
  background: #1a1a1a;
}

.cover .illo {
  background: #2798a1;
}
