.lalas .illo {
  background: #ef444a
}

.lasmanitas .illo {
  background: #202c3e
}

.centennial .illo {
  background: #aa1e2a
}

.katz .illo {
  background: #fff8eb
}

.peterpan .illo {
  background: #c1d82f
}

.goldenslipper .illo {
  background: #c82b27
}

.ezs .illo {
  background: #96d2e4
}

.hillberts .illo {
  background: #fdd600;
}

.emos .illo {
	background: #000000;
}

.krugers .illo {
	background: #ea9e22;
}

.qualityseafood .illo {
	background: #00aacd;
}

.austinmotel .illo {
  background: #c8232f;
}

.topnotch .illo {
  background: #309fa9;
}

.sandys .illo {
  background: #ffca08;
}

.grovedrugs .illo {
  background: #53c3c0;
}

.matts .illo {
  background: #c92127;
}

.hole .illo {
  background: #fec80a;
}

.saddlery .illo {
  background: #1a1a1a;
}

.cover .illo {
  background: #2798a1;
}
